<body id="fullsingle" class="page-template-page-fullsingle-split">
<div class="fs-split">
	<!-- Image Side -->
	<div class="split-image"></div>
	<!-- Content Side -->
	<div class="split-content">
		<div class="split-content-vertically-center">
			<div class="split-intro">
				<span class="tagline">Tournoi étudiant français</span>
			</div>
				
			<div class="split-bio">
				<p>Tournoi étudiant online pour vous démarquer, vous, votre lycée ou votre Université !</p>
			</div>
			<div style="line-height:60px;font-size:40px;text-align:center;color:#FFD400;margin-bottom:40px;margin-left:0;text-transform: uppercase;" id="demo"></div>
			<div class="split-lists">
				<div class="split-list">
					<h3>Jeux</h3>
					<ul>
						<li><a target="_blank" href="https://euw.leagueoflegends.com/fr/">League of Legends</a></li>
						<li><a target="_blank" href="http://blog.counter-strike.net/fr/">CSGO</a></li>
						<li><a target="_blank" href="https://playoverwatch.com/fr-fr/">Overwatch</a></li>
						<li><a target="_blank" href="https://www.rocketleague.com/">Rocket League</a></li>
					</ul>
				</div>
				<div style="margin-left:10%;"class="split-list">
					<h3>Liens</h3>
					<ul>
						<li><a target="_blank" href="https://twitter.com/GamingSchoolCup">Twitter</a></li>
						<li><a target="_blank" href="#">Twitch</a></li>
						<li><a href="mailto:gamingschoolcup@gmail.com">Contact</a></li>
						<li><a href="#">Mentions Légales</a></li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
</div>
</body>

<script>
		var countDownDate = new Date("Jan 20, 2018 12:00:00").getTime();
		var x = setInterval(function() {
  		var now = new Date().getTime();
  		var distance = countDownDate - now;
  		var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  		var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  		var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  		document.getElementById("demo").innerHTML = days + "j " + hours + "h " + minutes + "m " + seconds + "s ";

  			if (distance < 0) {
    		clearInterval(x);
    		document.getElementById("demo").innerHTML = "EXPIRED";
  			}
		}, 1000);
		</script>